*{
  margin:0px;
  padding: 0px;
}
.container{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.appName,.input{
    align-self: center;
    font-size: 30px;
}
.appName{
  font-size: 80px;
  color: #cc9888;
}

.task{
  align-self: center;
  width: 320px;
}
.checkInput{
  display: flex;
  height: 70px;
  align-self: center;
}
.check{
  align-self: center;
  padding: 0 5px 0 0;
  height: 50px;
  width: 50px;
}
.input{
  padding: 5px 5px 5px 10px;
  margin: 10px 0 0 0;
  width: 250px;
  align-self: center;
}
